<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/loader.css">
  <link rel="stylesheet" href="/css/fancybox/fancybox.css" />
</head>

<body class="bg-gray-100">

  <nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-start">
          <a href="/" class="flex ms-2 md:me-24">
            <img src="https://flowbite.com/docs/images/logo.svg" class="h-8 me-3" alt="FlowBite Logo" />
            <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap">FileShelter</span>
          </a>
        </div>
        <div class="flex items-center">
          <div class="flex items-center ms-3">
            <div>
              <button type="button" class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300"
                aria-expanded="false" data-dropdown-toggle="dropdown-user">
                <img class="w-8 h-8 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
                  alt="user photo">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <aside id="logo-sidebar"
    class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0"
    aria-label="Sidebar">
    <div class="h-full px-3 pb-4 overflow-y-auto bg-white flex flex-col justify-between">
      <ul class="space-y-2 font-medium">
        <li>
          <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24px" height="24px">
              <path d="M0 0h24v24H0z" fill="none" />
              <path
                d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM5 19V5h14v14H5zm5-9c0-1.1-.9-2-2-2s-2 .9-2 2 .9 2 2 2 2-.9 2-2zm7 7H7l2.5-3.01L12 17l3.5-4.51L17 17z" />
            </svg>
            <span class="flex-1 ms-3 whitespace-nowrap">Photos and Videos</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24"
              height="24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 12h6m-6 4h6m2 4H7a2 2 0 01-2-2V5a2 2 0 012-2h7l5 5v12a2 2 0 01-2 2z" />
            </svg>
            <span class="flex-1 ms-3 whitespace-nowrap">Documents</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24"
              height="24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 12h6m-6 4h6m2 4H7a2 2 0 01-2-2V5a2 2 0 012-2h7l5 5v12a2 2 0 01-2 2z" />
            </svg>
            <span class="flex-1 ms-3 whitespace-nowrap">Notifications</span>
          </a>
        </li>
        <li>
          <a href="/chats" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M20 2H4C2.89543 2 2 2.89543 2 4V18C2 19.1046 2.89543 20 4 20H18L22 24V4C22 2.89543 21.1046 2 20 2Z"
                fill="#000000" />
            </svg>
            <span class="flex-1 ms-3 whitespace-nowrap">Messages</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24"
              height="24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 12h6m-6 4h6m2 4H7a2 2 0 01-2-2V5a2 2 0 012-2h7l5 5v12a2 2 0 01-2 2z" />
            </svg>
            <span class="flex-1 ms-3 whitespace-nowrap">Collections</span>
          </a>
        </li>
      </ul>
      <form id="uploadForm">
        <label for="multiple_files"
          class="block relative w-full text-sm border border-gray-300 cursor-pointer bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded-lg focus:outline-none"
          style="line-height:1.8">
          <span class="flex items-center justify-center" id="upload-button">Upload</span>
          <input id="multiple_files" type="file" multiple class="hidden">
        </label>
      </form>
    </div>
  </aside>


  <div class="p-4 sm:ml-64 mt-14">
    <div class="" id="file-list">
      <div class="h-screen flex flex-col">
        <div class="bg-gray-200 flex-1 overflow-y-scroll">
          <div class="bg-red-500" id="user"  user-id="6qw6q6w6ww76wq7w6qw76q6q">USERNAME</div>
          <div class="px-4 py-2">
            <div class="flex items-center mb-2">
              <img class="w-8 h-8 rounded-full mr-2" src="https://picsum.photos/50/50" alt="User Avatar">
              <div class="font-medium">John Doe</div>
            </div>
            <div class="bg-white rounded-lg p-2 shadow mb-2 max-w-sm">
              Hi, how can I help you?
            </div>
            <div class="flex items-center justify-end">
              <div class="bg-blue-500 text-white rounded-lg p-2 shadow mr-2 max-w-sm">
                Sure, I can help with that.
              </div>
              <img class="w-8 h-8 rounded-full" src="https://picsum.photos/50/50" alt="User Avatar">
            </div>
          </div>
        </div>
        <div class="bg-gray-100 px-4 py-2">
          <div class="flex items-center">
            <input class="w-full border rounded-full py-2 px-4 mr-2" type="text" placeholder="Type your message..."
              id="message">
            <button type="button" id="send"
              class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-full">
              Send
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div
    class="fixed z-50 w-full h-12 max-w-lg -translate-x-1/2 bg-white border border-gray-200 rounded-full bottom-4 left-1/2 dark:bg-gray-700 dark:border-gray-600 sm:hidden">
    <div class="grid h-full max-w-lg grid-cols-5 mx-auto gap-x-4 items-center">
      <button data-tooltip-target="tooltip-home" type="button"
        class="inline-flex flex-col items-center justify-center px-5 rounded-full hover:bg-gray-100 dark:hover:bg-gray-800 group">
        <i class="fa-regular fa-folder-open text-gray-600 dark:text-gray-400 text-lg"></i>
      </button>

      <button data-tooltip-target="tooltip-wallet" type="button"
        class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-100 dark:hover:bg-gray-800 group">
        <i class="fa-regular fa-image text-gray-600 dark:text-gray-400 text-lg"></i>
      </button>

      <div class="flex items-center justify-center">
        <button data-tooltip-target="tooltip-new" type="button"
          class="inline-flex items-center justify-center w-10 h-10 bg-blue-600 rounded-full hover:bg-blue-700 group focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800">
          <i class="fa-solid fa-plus text-white text-lg"></i>
        </button>
      </div>

      <div id="tooltip-new" role="tooltip"
        class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        Create new item
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>
      <form id="uploadForm">
        <label for="multiple_files"
          class="block relative w-full text-sm border border-gray-300 cursor-pointer bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded-lg focus:outline-none"
          style="line-height:1.8">
          <span class="flex items-center justify-center" id="upload-button">Upload</span>
          <input id="multiple_files" type="file" multiple class="hidden">
        </label>
      </form>

      <button data-tooltip-target="tooltip-settings" type="button"
        class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-100 dark:hover:bg-gray-800 group">
        <i class="fa-solid fa-heart text-gray-600 dark:text-gray-400 text-lg"></i>
      </button>

      <button data-tooltip-target="tooltip-profile" type="button"
        class="inline-flex flex-col items-center justify-center px-5 rounded-full hover:bg-gray-100 dark:hover:bg-gray-800 group">
        <i class="fa-solid fa-user text-gray-600 dark:text-gray-400 text-lg"></i>
      </button>
    </div>
  </div>

  <!-- MODAL -->

  <script src="/js/helpers/socket.io.min.js"></script>
  <script src="/js/helpers/fancybox.umd.js"></script>
  <script src="/js/pages/chat/socket.js"></script>
</body>

</html>