    .bg-white {
        background-color: #ffffff;
    }

    .h-full {
        height: 100%;
    }

    .m-0 {
        margin: 0;
    }

    .mt-auto {
        margin-top: auto;
    }

    .mb-auto {
        margin-bottom: auto;
    }

    .h-500 {
        height: 500px;
    }

    .rounded-lg {
        border-radius: 15px;
    }

    .bg-opacity-40 {
        background-color: rgba(0, 0, 0, 0.4);
    }

    .p-0 {
        padding: 0 !important;
    }

    .overflow-y-auto {
        overflow-y: auto;
    }

    .whitespace-nowrap {
        white-space: nowrap;
    }

    .bg-opacity-30 {
        background-color: rgba(0, 0, 0, 0.3) !important;
    }

    .rounded-tl-15 {
        border-radius: 15px 15px 0 0 !important;
    }

    .rounded-bl-15 {
        border-radius: 0 0 15px 15px !important;
    }

    .justify-center {
        justify-content: center;
    }

    .border-0 {
        border: 0 !important;
    }

    .text-white {
        color: white !important;
    }

    .focus\:shadow-none:focus {
        box-shadow: none !important;
    }

    .focus\:outline-none:focus {
        outline: 0 !important;
    }

    .h-60 {
        height: 60px !important;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .rounded-tl-15 {
        border-radius: 15px 0 0 15px !important;
    }

    .rounded-tr-15 {
        border-radius: 0 15px 15px 0 !important;
    }

    .list-none {
        list-style: none;
        padding: 0;
    }

    .w-full {
        width: 100% !important;
    }

    .py-5 {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .bg-opacity-30:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .h-70 {
        height: 70px;
    }

    .w-70 {
        width: 70px;
    }

    .border-solid {
        border: 1.5px solid #f5f6fa;
    }

    .relative {
        position: relative;
    }

    .bottom-0.2em {
        bottom: 0.2em;
    }

    .right-0.4em {
        right: 0.4em;
    }

    .rounded-full {
        border-radius: 50%;
    }

    .bg-green-500 {
        background-color: #4cd137;
    }

    .bg-red-500 {
        background-color: #c23616 !important;
    }

    .text-20 {
        font-size: 20px;
    }

    .text-gray-600 {
        color: rgba(255, 255, 255, 0.6);
    }

    .mr-20 {
        margin-right: 20px;
    }

    .ml-50 {
        margin-left: 50px;
    }

    .mt-5 {
        margin-top: 5px;
    }

    .bg-blue-400 {
        background-color: #82ccdd;
    }

    .bg-green-400 {
        background-color: #78e08f;
    }

    .rounded-br-25 {
        border-radius: 25px;
    }

    .p-10 {
        padding: 10px;
    }

    .absolute {
        position: absolute;
    }

    .left-0 {
        left: 0;
    }

    .right-0 {
        right: 0;
    }

    .bottom--15 {
        bottom: -15px;
    }

    .text-opacity-50 {
        color: rgba(255, 255, 255, 0.5);
    }

    .relative {
        position: relative;
    }

    .top-10 {
        top: 10px;
    }

    .display-none {
        display: none;
    }

    .bg-opacity-50 {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .z-1 {
        z-index: 1;
    }

    .pt-15 {
        padding-top: 15px;
    }

    .pr-15 {
        padding-right: 15px;
    }

    .pb-15 {
        padding-bottom: 15px;
    }

    .pl-15 {
        padding-left: 15px;
    }

    .hover\:bg-opacity-20:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

    @media (max-width: 576px) {
        .mb-15 {
            margin-bottom: 15px !important;
        }
    }
